form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #FFFF6B;
    flex-grow: 1;
  }

  button {
    background-color: white;
    border: none;
     margin-left: 0.625rem;
     & img {
      width: 2.5rem;
     }
  } 