.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  @import "./header.scss";
  @import "./messages.scss";
  @import "./input.scss";

  
  

